@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-Italic.eot');
  src: local('Plus Jakarta Sans Italic'), local('PlusJakartaSans-Italic'),
    url('./assets/fonts/PlusJakartaSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/PlusJakartaSans-Italic.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-Italic.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-Regular.eot');
  src: local('Plus Jakarta Sans Regular'), local('PlusJakartaSans-Regular'),
    url('./assets/fonts/PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-Regular.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* semi bold, medium, light, extraLight, ExtraBold, Bold */

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-SemiBold.eot');
  src: local('Plus Jakarta Sans SemiBold'), local('PlusJakartaSans-SemiBold'),
    url('./assets/fonts/PlusJakartaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-SemiBold.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-Medium.eot');
  src: local('Plus Jakarta Sans Medium'), local('PlusJakartaSans-Medium'),
    url('./assets/fonts/PlusJakartaSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-Medium.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-Light.eot');
  src: local('Plus Jakarta Sans Light'), local('PlusJakartaSans-Light'),
    url('./assets/fonts/PlusJakartaSans-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/PlusJakartaSans-Light.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-Light.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-ExtraLight.eot');
  src: local('Plus Jakarta Sans ExtraLight'), local('PlusJakartaSans-ExtraLight'),
    url('./assets/fonts/PlusJakartaSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-ExtraLight.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-ExtraBold.eot');
  src: local('Plus Jakarta Sans ExtraBold'), local('PlusJakartaSans-ExtraBold'),
    url('./assets/fonts/PlusJakartaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-ExtraBold.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-Bold.eot');
  src: local('Plus Jakarta Sans Bold'), local('PlusJakartaSans-Bold'),
    url('./assets/fonts/PlusJakartaSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-Bold.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}